* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: "Segoe-UI";
  src: url(../img/fonts/segoeui.ttf);
}
footer {
  max-width: 1920px;
  margin: 100px auto 0 auto;
  background-color: #587C83;
  padding: 0 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .copy {
  color: #FFFFFF;
  margin-bottom: 0;
}
footer .footerLinks {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footerLinks a {
  text-decoration: none;
  color: #FFFFFF;
}
footer .socials {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .socials a img {
  width: 45px;
  height: 45px;
}

@media (max-width: 768px) {
  footer {
    padding: 0 20px;
    margin: 60px auto 0 auto;
  }
  footer .copy {
    font-size: 11px;
  }
  footer .footerLinks {
    width: 200px;
  }
  footer .footerLinks a {
    font-size: 11px;
  }
  footer .socials {
    width: 100px;
  }
  footer .socials a img {
    width: 22px;
    height: 22px;
  }
}
@media (max-width: 390px) {
  footer {
    height: 60px;
  }
  footer .copy {
    font-size: 8px;
  }
  footer .footerLinks {
    width: 100px;
  }
  footer .footerLinks a {
    font-size: 8px;
  }
  footer .socials {
    width: 60px;
  }
  footer .socials a img {
    width: 14px;
    height: 14px;
  }
}
nav {
  max-width: 1920px;
  height: 108px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Segoe-UI";
}
nav .logo {
  display: flex;
  align-items: center;
}
nav .logo a img {
  width: 73px;
  height: 73px;
}
nav .logo p {
  margin-left: 20px;
  text-align: center;
  font-size: 16px;
  display: inline;
  margin-bottom: 0;
}
nav .search {
  width: 600px;
  height: 44px;
  background-color: #587C83;
  opacity: 0.35;
  display: flex;
  align-items: center;
}
nav .search img {
  width: 25px;
  height: 25px;
}
nav .search input {
  width: calc(100% - 25px);
  height: 100%;
  background-color: #587C83;
  border: none;
  font-size: 14px;
  display: inline;
  color: white;
}
nav .links {
  width: 620px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .links a {
  display: flex;
  align-items: center;
  height: 100;
  text-decoration: none;
  color: black;
  font-size: 16px;
}
nav .links a p {
  display: inline;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 0;
}
nav .links a img {
  width: 50px;
  height: 50px;
}
nav .hamburger {
  height: 25px;
  display: none;
  margin-right: 20px;
}
nav .hamburger .bar {
  width: 50px;
  height: 3px;
  background-color: #000000;
}

.mobileLinks {
  position: absolute;
  top: 80px;
  right: 0;
  flex-direction: column;
  align-items: center;
  background-color: #587C83;
  z-index: 90;
  border: 2px solid black;
}

@media (max-width: 768px) {
  nav .logo {
    width: 30%;
  }
  nav .search {
    width: 40%;
    height: 25px;
  }
  nav .search img {
    width: 20px;
    height: 20px;
  }
  nav .search input {
    width: calc(100% - 20px);
  }
  nav .links {
    width: 50vw;
    height: 33vh;
    justify-content: space-evenly;
    font-size: 22px;
    letter-spacing: 2px;
  }
  nav .links a {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    border-bottom: 2px solid #000000;
    height: 16.6666666667%;
    display: flex;
    justify-content: center;
  }
  nav .links a p {
    display: none;
  }
  nav .hide {
    display: none;
  }
  nav .hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
}
@media (max-width: 390px) {
  nav .logo img {
    width: 20px;
    height: 20px;
  }
  nav .search {
    width: 140px;
    height: 16px;
  }
  nav .search img {
    width: 16px;
    height: 16px;
  }
  nav .search input {
    width: calc(100% - 16px);
  }
  nav .links {
    width: 100vw;
    height: 100vh;
  }
  nav .links a {
    font-size: 22px;
  }
  nav .hamburger .bar {
    width: 40px;
  }
}
.hero {
  min-height: 530px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 158px;
}
.hero .hero-img {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 1500px;
  height: 530px;
  background-image: linear-gradient(rgba(88, 124, 131, 0.5), rgba(88, 124, 131, 0.5)), url("../img/home-hero.jpg");
  background-size: cover;
  background-position: 0% 40%;
}
.hero .hero-img-ipad {
  width: 273px;
  height: 181px;
}
.hero .hero-text {
  width: 265px;
  color: #FFFFFF;
  font-weight: bold;
  font-family: "Segoe-UI";
}
.hero .hero-text h2 {
  text-transform: uppercase;
  font-size: 32px;
}
.hero .hero-text p {
  text-transform: uppercase;
  font-size: 16px;
}

.books {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.books .book-img-1 {
  background-image: url(../img/to-kill-a-mockingbird.jpg);
  height: 491px;
  background-size: contain;
  width: 306px;
}
.books .book-img-2 {
  background-image: url(../img/becoming.jpg);
  height: 491px;
  width: 322px;
  background-size: contain;
}
.books .book-img-3 {
  background-image: url(../img/firestarter.jpg);
  background-size: contain;
  height: 491px;
  width: 327px;
}
.books .book {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.books .book .book-desc {
  padding-top: 50px;
  max-width: 413px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Segoe-UI";
  font-size: 16px;
}
.books .book .book-desc h2 {
  font-size: 32px;
  font-family: "Segoe-UI";
  font-weight: bold;
}
.books .book .buy-button {
  margin-top: 37px;
  text-transform: uppercase;
  width: 222px;
  height: 68px;
  font-family: "Segoe-UI";
  font-size: 16px;
  background-color: #FFFFFF;
}
.books .book .book-price {
  padding-top: 50px;
}

@media (max-width: 768px) {
  .buy-button {
    margin-bottom: 30px;
  }
  .hero-text h2 {
    font-size: 16px !important;
  }
  .hero-text p {
    font-size: 8px !important;
  }
  .hero-img {
    width: 522px !important;
    height: 329px !important;
    background-image: none !important;
    background-color: #587C83;
  }
  .hero-img-ipad {
    background-image: url(../img/home-hero.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 56px;
    margin-left: 81px;
  }
  .books {
    flex-direction: column;
  }
}
@media (max-width: 390px) {
  .hero .hero-text {
    width: 1000px !important;
  }
  .hero .hero-img {
    width: 316px !important;
    height: 193px !important;
  }
  .hero .hero-img-ipad {
    width: 900px;
    height: 70px;
  }
  .book-desc {
    width: 167px !important;
  }
  .book-img-1 {
    height: 112px !important;
    width: 90px !important;
    background-repeat: no-repeat;
  }
  .book-img-2 {
    height: 112px !important;
    width: 90px !important;
    background-repeat: no-repeat;
  }
  .book-img-3 {
    height: 112px !important;
    width: 90px !important;
    background-repeat: no-repeat;
  }
}
.about-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.about-container .row1 {
  padding-top: 213px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.about-container .row1 .img {
  margin-left: 20px;
  height: 587px;
  width: 393px;
  background-image: url(../img/about-photo.jpg);
  background-size: cover;
}
.about-container .row1 .content {
  position: relative;
  width: 1134px;
  margin-left: 40px;
}
.about-container .row1 .content .title {
  position: relative;
  text-align: center;
  font-family: "Segoe-UI";
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}
.about-container .row1 .content .subtitle {
  position: relative;
  text-align: center;
  font-family: "Segoe-UI";
  font-size: 26px;
  font-weight: bold;
  margin-top: 40px;
}
.about-container .row1 .content p {
  margin-top: 61px;
  font-family: "Segoe-UI";
  font-size: 16px;
}
.about-container .row2 {
  padding-top: 213px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.about-container .row2 .img {
  margin-left: 20px;
  height: 587px;
  width: 393px;
  background-image: url(../img/about-photo-two.jpg);
  background-size: cover;
}
.about-container .row2 .content {
  position: relative;
  width: 1134px;
  margin-left: 40px;
}
.about-container .row2 .content .title {
  position: relative;
  text-align: center;
  font-family: "Segoe-UI";
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}
.about-container .row2 .content .subtitle {
  position: relative;
  text-align: center;
  font-family: "Segoe-UI";
  font-size: 26px;
  font-weight: bold;
  margin-top: 40px;
}
.about-container .row2 .content p {
  margin-top: 61px;
  font-family: "Segoe-UI";
  font-size: 16px;
}

@media (max-width: 768px) {
  .title {
    font-size: 12px !important;
  }
  .subtitle {
    font-size: 8px !important;
  }
  .img {
    width: 530px !important;
    height: 343px !important;
  }
  p {
    width: 355px;
    text-align: center;
    font-size: 11px !important;
    margin-left: 50px;
    font-weight: bold;
  }
}
@media (max-width: 390px) {
  .about-container .title {
    font-size: 6px !important;
  }
  .about-container .subtitle {
    font-size: 6px !important;
  }
  .about-container .img {
    width: 73px !important;
    height: 132px !important;
  }
  .about-container p {
    width: 200px;
    text-align: center;
    font-size: 6px !important;
    font-weight: bold;
  }
}
.books-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.books-container .book-img {
  margin-left: 53px;
}
.books-container .book-price {
  font-family: "Segoe-UI";
  margin-top: 47px;
  font-weight: bold;
}
.books-container .buy-button {
  margin-top: 62px;
  width: 222px;
  height: 68px;
  background-color: white;
}
.books-container .book-desc {
  margin-left: 40px;
}
.books-container .book-desc .book-info {
  max-width: 280px;
  font-family: "Segoe-UI";
}
.books-container h1 {
  text-align: left;
  margin-top: 180px;
  width: 90%;
}
.books-container .booksets {
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 660px;
}
.books-container .booksets .book1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.books-container .booksets .book1 .book-img {
  width: 223px;
  height: 246px;
  background-image: url(../img/twilight-box-set.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.books-container .booksets .book2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.books-container .booksets .book2 .book-img {
  width: 224px;
  height: 256px;
  background-image: url(../img/hp-box-set.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.books-container .booksets .book3 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.books-container .booksets .book3 .book-img {
  width: 217px;
  height: 208px;
  background-size: contain;
  background-image: url(../img/got-box-set.jpg);
  background-repeat: no-repeat;
}
.books-container .black-history {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 90%;
  height: 729px;
}
.books-container .black-history h1 {
  margin-bottom: 400px;
}
.books-container .black-history .book1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.books-container .black-history .book1 .book-img {
  width: 223px;
  height: 311px;
  background-image: url(../img/finding\ me.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.books-container .black-history .book2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.books-container .black-history .book2 .book-img {
  width: 224px;
  height: 311px;
  background-image: url(../img/mlk-biography.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.books-container .black-history .book3 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.books-container .black-history .book3 .book-img {
  width: 208px;
  height: 311px;
  background-size: contain;
  background-image: url(../img/elenor-roosevelt-biography.jpg);
  background-repeat: no-repeat;
}
.books-container .horror {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 90%;
  height: 748px;
}
.books-container .horror .book1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.books-container .horror .book1 .book-img {
  width: 223px;
  height: 311px;
  background-image: url(../img/misery.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.books-container .horror .book2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.books-container .horror .book2 .book-img {
  width: 224px;
  height: 311px;
  background-image: url(../img/frankenstein.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.books-container .horror .book3 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.books-container .horror .book3 .book-img {
  width: 208px;
  height: 311px;
  background-size: contain;
  background-image: url(../img/phantoms.jpg);
  background-repeat: no-repeat;
}
.books-container .childrens {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 90%;
  height: 646px;
}
.books-container .childrens h1 {
  margin-bottom: 400px;
}
.books-container .childrens .book1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.books-container .childrens .book1 .book-img {
  width: 223px;
  height: 311px;
  background-image: url(../img/winnie\ the\ pooh.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.books-container .childrens .book2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.books-container .childrens .book2 .book-img {
  width: 224px;
  height: 311px;
  background-image: url(../img/cat\ and\ the\ hat.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.books-container .childrens .book3 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.books-container .childrens .book3 .book-img {
  width: 208px;
  height: 311px;
  background-size: contain;
  background-image: url(../img/fun\ facts\ about\ space.jpg);
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .books-container h1 {
    margin-top: 310px !important;
    position: relative;
    bottom: 300px;
  }
  .books-container .booksets {
    margin-bottom: 400px;
    flex-direction: column;
  }
  .books-container .booksets .book1 {
    margin-bottom: 63.5px;
  }
  .books-container .booksets .book2 {
    margin-bottom: 63.5px;
  }
  .books-container .booksets .book3 {
    margin-bottom: 63.5px;
  }
  .books-container .black-history {
    margin-bottom: 400px;
    flex-direction: column;
  }
  .books-container .black-history .book1 {
    margin-bottom: 63.5px;
  }
  .books-container .black-history .book2 {
    margin-bottom: 63.5px;
  }
  .books-container .black-history .book3 {
    margin-bottom: 63.5px;
  }
  .books-container .horror {
    margin-bottom: 400px;
    flex-direction: column;
  }
  .books-container .horror .book1 {
    margin-bottom: 63.5px;
  }
  .books-container .horror .book2 {
    margin-bottom: 63.5px;
  }
  .books-container .horror .book3 {
    margin-bottom: 63.5px;
  }
  .books-container .childrens {
    margin-bottom: 400px;
    flex-direction: column;
  }
  .books-container .childrens .book1 {
    margin-bottom: 63.5px;
  }
  .books-container .childrens .book2 {
    margin-bottom: 63.5px;
  }
  .books-container .childrens .book3 {
    margin-bottom: 63.5px;
  }
}
@media (max-width: 390px) {
  .books-container .book-img {
    width: 150px !important;
    height: 260px !important;
  }
  .books-container h1 {
    margin-top: 310px !important;
    position: relative;
    bottom: 700px;
  }
  .books-container .first {
    bottom: 300px !important;
  }
  .books-container .booksets {
    margin-top: 500px;
    margin-bottom: 800px;
    flex-direction: column;
  }
  .books-container .booksets .book1 {
    margin-left: 100px;
    margin-bottom: 300px;
  }
  .books-container .booksets .book2 {
    margin-left: 100px;
    margin-bottom: 300px;
  }
  .books-container .booksets .book3 {
    margin-left: 100px;
    margin-bottom: 300px;
  }
  .books-container .black-history {
    margin-bottom: 600px !important;
    flex-direction: column;
  }
  .books-container .black-history .book1 {
    margin-left: 100px;
    margin-bottom: 300px;
  }
  .books-container .black-history .book2 {
    margin-left: 100px;
    margin-bottom: 300px;
  }
  .books-container .black-history .book3 {
    margin-left: 100px;
    margin-bottom: 300px;
  }
  .books-container .horror {
    margin-bottom: 800px;
    flex-direction: column;
  }
  .books-container .horror .book1 {
    margin-left: 100px;
    margin-bottom: 300px;
  }
  .books-container .horror .book2 {
    margin-left: 100px;
    margin-bottom: 300px;
  }
  .books-container .horror .book3 {
    margin-left: 100px;
    margin-bottom: 300px;
  }
  .books-container .childrens {
    margin-bottom: 800px;
    flex-direction: column;
  }
  .books-container .childrens .book1 {
    margin-left: 100px;
    margin-bottom: 300px;
  }
  .books-container .childrens .book2 {
    margin-left: 100px;
    margin-bottom: 300px;
  }
  .books-container .childrens .book3 {
    margin-left: 100px;
    margin-bottom: 300px;
  }
}
.account-container {
  margin-top: 160px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
.account-container .login-button {
  width: 170px;
  height: 45px;
  font-family: "Segoe-UI";
  font-size: 16px;
  background-color: #587C83;
  border: none;
  color: #FFFFFF;
}
.account-container .login {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.account-container h1 {
  text-align: left;
  align-self: first baseline;
  font-weight: normal;
  font-family: "Segoe-UI";
  font-size: 26px;
}
.account-container p {
  font-weight: normal;
  align-self: first baseline;
  font-family: "Segoe-UI";
}
.account-container input {
  width: 253px;
  margin-top: 45px;
  border: none;
  border-bottom: 2px solid #000000;
}
.account-container .password {
  margin-bottom: 56px;
}
.account-container .signup {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

@media (max-width: 768px) {
  .account-container {
    flex-direction: column;
  }
  .account-container h1 {
    font-size: 12px;
  }
}
@media (max-width: 390px) {
  .account-container h1 {
    font-size: 6px;
  }
}
.blogPage {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 120px;
}
.blogPage .blogs {
  max-width: 1420px;
  height: 460px;
  background-color: #587C83;
  margin-bottom: 125px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.blogPage .blogs .febImg {
  width: 250px;
  height: 380px;
}
.blogPage .blogs .splashImg {
  width: 622px;
  height: 460px;
}
.blogPage .blogs .blogText {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe-UI";
}
.blogPage .blogs .blogText h3 {
  text-transform: uppercase;
  color: white;
  font-size: 28px;
}
.blogPage .blogs .blogText p {
  width: 40%;
  text-align: center;
  color: white;
}

/*# sourceMappingURL=styles.css.map */
