* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: "Segoe-UI";
  src: url(../img/fonts/segoeui.ttf);
}
.hero {
  min-height: 530px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 158px;
}
.hero .hero-img {
  width: 1500px;
  height: 530px;
  background-image: linear-gradient(rgba(88, 124, 131, 0.5), rgba(88, 124, 131, 0.5)), url("../img/home-hero.jpg");
  background-size: cover;
  background-position: 0% 40%;
}
.hero .hero-text {
  width: 265px;
  color: #FFFFFF;
  font-weight: bold;
  font-family: "Segoe-UI";
  position: relative;
  left: 75%;
  top: 30%;
}
.hero .hero-text h2 {
  text-transform: uppercase;
  font-size: 32px;
}
.hero .hero-text p {
  text-transform: uppercase;
  font-size: 16px;
}

.books {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.books .book-img-1 {
  background-image: url(../img/to-kill-a-mockingbird.jpg);
  height: 491px;
  background-size: contain;
  width: 306px;
}
.books .book-img-2 {
  background-image: url(../img/becoming.jpg);
  height: 491px;
  width: 322px;
  background-size: contain;
}
.books .book-img-3 {
  background-image: url(../img/firestarter.jpg);
  background-size: contain;
  height: 491px;
  width: 327px;
}
.books .book {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.books .book .book-desc {
  padding-top: 50px;
  max-width: 413px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Segoe-UI";
  font-size: 16px;
}
.books .book .book-desc h2 {
  font-size: 32px;
  font-family: "Segoe-UI";
  font-weight: bold;
}
.books .book .buy-button {
  margin-top: 37px;
  text-transform: uppercase;
  width: 222px;
  height: 68px;
  font-family: "Segoe-UI";
  font-size: 16px;
  background-color: #FFFFFF;
}
.books .book .book-price {
  padding-top: 50px;
}

.about-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.about-container .row1 {
  padding-top: 213px;
  width: 80%;
  display: flex;
  flex-direction: row;
}
.about-container .row1 .img {
  margin-left: 20px;
  height: 587px;
  width: 393px;
  background-image: url(../img/about-photo.jpg);
  background-size: cover;
}
.about-container .row1 .content {
  position: relative;
  width: 1134px;
  margin-left: 40px;
}
.about-container .row1 .content .title {
  position: relative;
  text-align: center;
  font-family: "Segoe-UI";
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}
.about-container .row1 .content .subtitle {
  position: relative;
  text-align: center;
  font-family: "Segoe-UI";
  font-size: 26px;
  font-weight: bold;
  margin-top: 40px;
}
.about-container .row1 .content p {
  margin-top: 61px;
  font-family: "Segoe-UI";
  font-size: 16px;
}
.about-container .row2 {
  padding-top: 213px;
  width: 80%;
  display: flex;
  flex-direction: row;
}
.about-container .row2 .img {
  margin-left: 20px;
  height: 587px;
  width: 393px;
  background-image: url(../img/about-photo-two.jpg);
  background-size: cover;
}
.about-container .row2 .content {
  position: relative;
  width: 1134px;
  margin-left: 40px;
}
.about-container .row2 .content .title {
  position: relative;
  text-align: center;
  font-family: "Segoe-UI";
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}
.about-container .row2 .content .subtitle {
  position: relative;
  text-align: center;
  font-family: "Segoe-UI";
  font-size: 26px;
  font-weight: bold;
  margin-top: 40px;
}
.about-container .row2 .content p {
  margin-top: 61px;
  font-family: "Segoe-UI";
  font-size: 16px;
}

/*# sourceMappingURL=styles.css.map */
