.blogExpanded {
    max-width: $site-width;
    margin: 0 auto;

    .blogHeader {
        max-width: 1464px;
        height: 463px;
        margin: 0 auto;
        background-color: $site-gray;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .febHero {
        background-image: linear-gradient(to right, rgba(88, 124, 131, 0.1), rgba(88, 124, 131, 0.9));
    }
}