nav {
    max-width: $site-width;
    height: 108px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Segoe-UI";

    .logo {
        display: flex;
        align-items: center;
        a {
            img {
                width: 73px;
                height: 73px;
            }
        }
        p {
            margin-left: 20px;
            text-align: center;
            font-size: 16px;
            display: inline;
            margin-bottom: 0;
        }
    }

    .search {
        width: 600px;
        height: 44px;
        background-color: $site-gray;
        opacity: 0.35;

        display: flex;
        align-items: center;

        img {
            width: 25px;
            height: 25px;
        }

        input {
            width: calc(100% - 25px);
            height: 100%;
            background-color: $site-gray;
            border: none;
            font-size: 14px;
            display: inline;
            color: white;
        }
    }

    .links {
        width: 620px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            display: flex;
            align-items: center;
            height: 100;
            text-decoration: none;
            color: black;
            font-size: 16px;

            p {
                display: inline;
                text-align: center;
                margin-right: 10px;
                margin-bottom: 0;
            }

            img {
                width: 50px;
                height: 50px;
            }
        }
    }

    .hamburger {
        height: 25px;
        display: none;
        margin-right: 20px;


        .bar {
            width: 50px;
            height: 3px;
            background-color: $site-black;
        }
    }
}

.mobileLinks {
    position: absolute;
    top: 80px;
    right: 0;
    flex-direction: column;
    align-items: center;
    background-color: $site-gray;
}




@media (max-width: 768px) {
    nav {
        .search {
            width: 300px;
            height: 25px;
    
            img {
                width: 20px;
                height: 20px;
            }
            input {
                width: calc(100% - 20px);
            }
        }

        .links {
            width: 50vw;
            height: 33vh;

            justify-content: space-evenly;
            font-size: 22px;
            letter-spacing: 2px;
            
            a {
                width: 100%;
                text-align: center;
                margin: 0 auto;
                border-bottom: 2px solid $site-black;
            }
        }

        .hide {
            display: none;
        }
    
        .hamburger {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
        }
    }


}